.toDoFormContainer form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.toDoFormContainer input {
  width: 45%;
  height: 30px;
  font-size: 1.3rem;
  background-color: white;
  color: black;
}

.toDoFormContainer button {
  margin-left: 20px;
  height: 50px;
  cursor: pointer;
  background-color: beige;
  font-size: 1.5rem;
  color: black;
}

.toDoFormContainer button:hover {
  background-color: rgb(240, 240, 155);
}

.toDoFormContainer input,
button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
}
